<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.RiskReportMapper" >
	<!-- 这个元素可以被用来定义可重用的 SQL 代码段，可以包含在其他语句中-->
	<sql id="riskColumns">id,title,date,risk_describe,probability,
	influence,risk_level,plan,risk_owner,project_id,
	is_check,is_pass,opinion,link,
	prepared_name,reviewed_name</sql>
	<insert id="addReport" parameterType="RiskReport">
		insert into risk_report values
		(#{id},#{title},#{date},#{riskDescribe},#{probability},#{influence},
		#{riskLevel},#{plan},#{riskOwner},#{projectId},#{isCheck},#{isPass},
		#{opinion},#{link},#{preparedName},#{reviewedName})
	</insert>
    <select id="queryReportsByProjectId" parameterType="string" resultType="RiskReport">
    	select <include refid="riskColumns"></include>
    	from risk_report
    	where project_id=#{projectId}
    	order by date desc
    </select>
    <select id="queryPassReports" parameterType="string" resultType="RiskReport">
    	select <include refid="riskColumns"></include>
    	from risk_report
    	where project_id=#{projectId}
    	and is_pass="是"
    	order by date desc
    </select>
    <select id="queryReportById" parameterType="string" resultType="RiskReport">
    	select <include refid="riskColumns"></include>
    	from risk_report
    	where id=#{id}
    </select>
    <update id="updateReport" parameterType="RiskReport">
    	update risk_report
    	set is_check="是",is_pass=#{isPass},opinion=#{opinion}
    	where id=#{id}
    </update>
</mapper>