<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.StaffMapper" >
	<!-- 这个元素可以被用来定义可重用的 SQL 代码段，可以包含在其他语句中-->
	<sql id="staffColumns"> id,project_id,user_id,work_fee</sql>
	
    
    
    <insert id="addStaff" parameterType="Staff">
        insert  into staff 
        values (#{id},#{projectId},#{userId},#{workFee})
        
    </insert>
</mapper>